# api keys
api_keys.json

# Log Files
*.log

# Object file
*.o

# Ada Library Information
*.ali

# Checkpoints
.ipynb_checkpoints/

# Apple Stuff
.DS_Store

# Project Outline
Project 1 Outline.docx

# PowerPoint and Handout
Data Science Project 1.pptx
hospital charge data handout.pptx